<div class="container pt-4">

    <form>
        <div class="form-group">
            <label for="email">Nome do Curso:</label>
            <input type="email" class="form-control" name="email" id="email" required>
        </div>
        <div class="form-group">
            <label for="duracao">Duração Curso:</label>
            <input type="number" class="form-control" name="duracao" id="duracao" placeholder="Quantidade em horas" required>
        </div>
        <div class="mt-3">
            <input type="submit" class="btn btn-primary" value="Cadastrar">
            <a href="#" class="btn btn-outline-danger ml-2">Cancelar</a>
            <button type="reset" class="btn btn-outline-secondary ml-2">Limpar</button>
        </div>
    </form>

</div>