<div class="container-fluid mt-4">
    <div class="jumbotron">
      <h1 class="display-4">Bem vindo ao cadastro de professor!</h1>
      <hr class="my-4">
      <button class="btn btn-outline-info btn-lg btn-block" (click)="navegar('cadastrar-curso')">Cadastrar um curso</button>
      <button class="btn btn-outline-info btn-lg btn-block" (click)="navegar('area-professor')">Listar professores cadastrados</button>
    </div>
    <!-- <div class="jumbotron">
      <h1 class="display-4">Bem vindo ao cadastro de aluno!</h1>
      <hr class="my-4">
      <button class="btn btn-outline-info btn-lg btn-block" href="#">Listar cursos</button>
    </div> -->
</div>
